.box {
    position: absolute;
    top: 20%;
    border: 1px solid #ccc;
    background-color:  #58ACFA;
    margin: 0 auto;
}

.box .inner {
    margin: 10px;
    background-color: #efefef;
    padding: 10px;
}

.box .close-container {
    position: relative;
}

.box .close {
    position: absolute;
    right: -23px;
    top: -23px;
    width: 20px;
    height: 20px;
    background-image: url("/static/close.png");
}

.box .close:hover {
    cursor: pointer;
}